<div class="card card-profile mb-4">
          
          <%if @youtuber=="matt"%>
          <div class="card-header-matt"></div>
        
        <div class="card-body text-center">
          
          
          
          
          
          
          
          <a href="answer.html">
              <div class="matt_img"></div>
              
          </a>
          
          <h6 class="card-title">
            <a class="text-inherit" href="profile/index.html">Matt Galat</a>
          </h6>

          <p class="mb-4">the JaYoe World Tour, a cycle/adventure tour cutting a path around the world, from Ningbo, China to Los Angeles, California. From the seat of a specially built recumbent trike, fully loaded with photo, audio and video recording and editing components, I will produce content along the way. </p>
         </div>
          <%end%>
          
          <%if @youtuber=="cmilk"%>
          <div class="card-header-cmilk"></div>
        
        <div class="card-body text-center">
          <a href="answer.html">
              <div class="cmilk_img"></div>
              
          </a>
          <h6 class="card-title">
            <a class="text-inherit" href="profile/index.html">Cmilk</a>
          </h6>

          <p class="mb-4">You know you want C-Milk for breakfast. </p>
          </div>
          <%end%>
         
          <%if @youtuber=="serpentza"%>
          <div class="card-header-serpentza"></div>
        
        <div class="card-body text-center">
          <a href="answer.html">
              <div class="serpentza_img"></div>
              
          </a>
          <h6 class="card-title">
            <a class="text-inherit" href="profile/index.html">Serpentza</a>
          </h6>

          <p class="mb-4">The Original China Vlogger
My name is Winston, a British South African that has been living in China since February 06, Come and join my adventures in China!
China, Adventure, Bikes and Beer! </p>
          </div>
          <%end%>
          
          <%if @youtuber=="prozzie"%>
          <div class="card-header-prozzie"></div>
        
        <div class="card-body text-center">
          <a href="answer.html">
              <div class="prozzie_img"></div>
              
          </a>
          <h6 class="card-title">
            <a class="text-inherit" href="profile/index.html"><%=@youtuber%></a>
          </h6>

          <p class="mb-4">I make videos about China and being an expat abroad. </p>
           </div>
          <%end%>
         
      </div>