<div class="card mb-4 d-none d-lg-block mt-15">
        <div class="card-body ">
          <h6 class="mb-3  killa center">Explore</h6>

        <div class="top center ml-3">
    
        <div class="container5 mw-45 mh-45 float-left mr-1 ">
    <a href="/matt"><img class=" image5" src="/assets/a-0a2d899aebec3ac1b5c6056c2a57220a1d9418800bf5a98acb3c59fec44a6ec3.png" alt="A" /></a>
  <div class="overlay5">
   <a href="/matt"> <div class="text5">Matt</div></a>
  </div>
</div>
        
        
        <div class="container5 mw-45 mh-45 float-left">
<a href="/prozzie"><img class=" image5" src="/assets/b-96eba02c2cbbef8e3992ed248f8e180baacdf6691a119bcc6e2126a25093e973.png" alt="B" /></a>  
  <div class="overlay5">
   <a href="/prozzie"> <div class="text5">Prozzie</div></a>
  </div>
</div>
        </div>
        
        <div class="bottom mt-1 ml-3 ">
       <div class="container5 mw-45 mh-45 float-left mr-1">
        <a href="/serpentza"><img class="image5" src="/assets/c-467bde0ed5c7346ee84a5d41c73d2a2b0ff16d487a35940a3ef64d1f0a4d8682.png" alt="C" /></a>
  <div class="overlay5">
    <a href="/serpentza"> <div class="text5">Winston</div></a>
  </div>
</div>
        
        
        
        <div class="container5 mw-45 mh-45 float-left">
        <a href="/cmilk"><img class="image5" src="/assets/d-238e40e83c544e130e9c6736461132b42bfcdd0b4e0056f1fdbd285a2449e048.png" alt="D" /></a>
  <div class="overlay5">
    <a href="/cmilk"> <div class="text5">cmilk</div></a>
  </div>
</div>


      </div>
      </div>