<div class="card mb-4 d-none d-lg-block mt-15">
        <div class="card-body">
          <h6 class="mb-3 center killa">Explore</h6>
         <div class="center">
             <div class="top">
        <a href="/matt"><%=image_tag('a.png', :class=>"mw-45 mh-45 hov")%></a>
        <a href="/serpentza"><%=image_tag('b.png', :class=>"mw-45 mh-45 hov")%></a>
        </div>
        <a href="/cmilk"><%=image_tag('c.png', :class=>"mw-45 mh-45 hov mt-1")%></a>
        <a href="/prozzie"><%=image_tag('d.png', :class=>"mw-45 mh-45 hov mt-1")%></a>
      </div>
      </div>
      
