/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2018
 */

/* docs overrides */
.highlight {
  background-color: #fff;
  border-color: #d3e0e9;
}


/* general overrides */
.list-group-item .glyphicon {
  line-height: 1.4;
}
.modal-header .close {
  margin-top: 4px;
}
strong {
  font-weight: bold;
}


/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .navbar-brand img {
  width: 85px;
}
.app-navbar .navbar-collapse {
  max-height: inherit;
}
.app-navbar .navbar-collapse:after {
  height: 100vh;
}
.app-navbar .form-control {
  border-color: #1C73A5;
}
.app-navbar .app-notifications {
  margin-left: 1rem;
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}
.app-notifications .icon:before {
  font-size: 20px;
}
@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .app-search {
    margin-top: -1px;
  }
}


/* misc */
.app-login-form {
  max-width: 280px;
  mrgin-top: -60px;
}
.app-new-msg {
  margin-right: 10px;
}
.app-brand {
  width: 40%;
  display: inline-block;
}
.app-brand img {
  width: 100%;
}
/* Form ================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}



.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.flash {
  padding: 6px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 55px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
#hide{

background-color:blue;
}


/* Hover */

#areas .panel {
    min-height: 20px;
    margin: 9px;
    background-color: red;
    -webkit-transition:0.3s;
    transition:0.3s;
}

.test:hover{
  
}

body{
  
  margin: 0;
  padding: 0;
  
  
}
#back{
  width:100%;
  height:100%;
  background:url(back.png);
  background-size:cover;
  padding:40px;

}


.container2 .left{
  background:rgba(255,255,255,1);
  padding-top:50px;
  padding-left:10px;
  float:left;
  width:50%;
  height:100%;
  box-sizing:border-box;
  text-align: center;
   border-radius: 10px 0px 0px 10px;
}

.container2 .left img{
  width:37%;
  
}
#motto{
  color:#9ba2a7;
  font-size:18px;
  position:absolute;
    left:0;
    top:150;
    bottom:200;
    right:0;
    margin:auto;
 
}

.container2 .right{
  float:right;
  width:50%;
  height:100%;
  box-sizing:border-box;
  background:white;
    border-radius: 0px 10px 10px 0px;
}

.formBox{
  width:100%;
  padding:80px 40px;
  box-sizing:border-box;
  height:100%;
  background:#fff;
  border-radius: 0px 10px 10px 0px;
  
}
#selection{
  position:relative;
}


#first_name{
  float: left;
  width:50%;
}

#last_name{
  width:50%;
}

#time-mar{
  margin-left: 80%;
;
}

.dimension35{
  height: 35px;
  width: 35px;
}

#profile-page-pic{
  height:80px;
  width:80px;
  margin:0 auto;
}

#blue_title{
  color:#0099ff;
  font-size: 60px;
  margin:0 auto;
  font-family: "Killa";
  margin-left:970;
   position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;

}
#logo{
  color:white;
  font-size: 20px;
  font-family: "Killa";

}

@font-face {
  font-family: "Killa";
  src: url(/assets/Killa.ttf) format("truetype");
}
@font-face {
  font-family: "CLight";
  src: url(/assets/Clight.ttf) format("truetype");
}


@font-face {
  font-family: "soft";
  src: url(assets/fonts/QanelasSoftDEMO-ExtraBold.otf) format("truetype");
}
.killa{
  font-family: "CLight";
  color:grey;
}

.matt_answer{
   width:50px;
  height:50px;
  
  margin-left:10px;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
          background:url("matt.png");
     background-size: cover;
}

.serpentza_answer{
   width:50px;
  height:50px;
  
  margin-left:10px;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
          background:url("serpentza_profile.jpg");
     background-size: cover;
}

.prozzie_answer{
   width:50px;
  height:50px;
  
  margin-left:10px;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
          background:url("prozzie_profile.jpg");
     background-size: cover;
}

.cmilk_answer{
   width:50px;
  height:50px;
  
  margin-left:10px;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
          background:url("cmilk_profile.jpg");
     background-size: cover;
}
* {
    box-sizing: border-box;
}